///
/// Apollo variables
///

// Brand color palette
$charcoal: rgb(58, 79, 90);
$gray: rgb(206, 211, 214);
$gray-lighter: rgb(227, 235, 239);
$atmosphere: rgb(37, 180, 255);
$atmosphere-hover: rgb(32, 166, 236);
$navy: rgb(28, 41, 128);
$teal: rgb(55, 218, 211);
$blue: rgb(41, 125, 253);
$yellow: rgb(255, 207, 50);
$green: rgb(32, 194, 47);
$coral: rgb(251, 79, 57);
$orange: rgb(255, 148, 12);

// Shadows        I normally always try and follow already implemented conventions but this is in fact a test
// so i did switch to em's just for ios safari browser compatabillity bugs.

$shadow-color: rgba(0, 0, 0, .2);
$shadow-hover: .3125em .3125em 1em $shadow-color;
$shadow-active: .1875rem .1875rem .5rem $shadow-color;

///
/// Bootstrap variable overrides
///

// Enable flexbox grid
$enable-flex: true;
